In [1]:
from datetime import datetime

In [2]:
t1 = datetime.now()

In [3]:
t1

datetime.datetime(2022, 7, 16, 11, 34, 0, 278436)

In [4]:
t2 = datetime(1900, 1, 1)

In [5]:
diff = t1-t2

In [6]:
diff

datetime.timedelta(days=44756, seconds=41640, microseconds=278436)

In [7]:
type(diff)

datetime.timedelta

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("emp.csv")

In [10]:
df.head()

     Week_end                      Indicator      High_industry      Value
0  05-05-2019  Number of paid jobs - 34 days              Total  2090110.0
1  12-05-2019  Number of paid jobs - 34 days          A Primary    95150.0
2  19-05-2019  Number of paid jobs - 34 days  B Goods Producing   405050.0
3  26-05-2019  Number of paid jobs - 34 days         C Services  1570740.0
4  02-06-2019  Number of paid jobs - 34 days         Z No Match    19170.0

In [11]:
df.dtypes

Week_end          object
Indicator         object
High_industry     object
Value            float64
dtype: object

In [12]:
df['date_dt'] = pd.to_datetime(df['Week_end'])

In [13]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-12-05
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-02-06

In [14]:
df.dtypes

Week_end                 object
Indicator                object
High_industry            object
Value                   float64
date_dt          datetime64[ns]
dtype: object

In [15]:
df['date_dt'] = pd.to_datetime(df['Week_end'], format='%d-%m-%Y')

In [16]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-05-12
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-06-02

In [17]:
d = pd.to_datetime('2022-02-28')

In [18]:
d

Timestamp('2022-02-28 00:00:00')

In [19]:
d.year

2022

In [20]:
d.month

2

In [21]:
d.day

28

In [22]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-05-12
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-06-02

In [23]:
# We can create a new year column based on the Date column.
df['year'] = df['date_dt'].dt.year

In [24]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt,year
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05,2019
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-05-12,2019
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19,2019
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26,2019
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-06-02,2019

In [25]:
df['month'] = df['date_dt'].dt.month

In [26]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt,year,month
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05,2019,5
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-05-12,2019,5
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19,2019,5
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26,2019,5
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-06-02,2019,6

In [27]:
df['day'] = df['date_dt'].dt.day

In [28]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt,year,month,day
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05,2019,5,5
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-05-12,2019,5,12
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19,2019,5,19
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26,2019,5,26
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-06-02,2019,6,2

In [30]:
df['quarter'] = df['date_dt'].dt.quarter

In [31]:
df.head()

,Week_end,Indicator,High_industry,Value,date_dt,year,month,day,quarter
0,05-05-2019,Number of paid jobs - 34 days,Total,2090110.0,2019-05-05,2019,5,5,2
1,12-05-2019,Number of paid jobs - 34 days,A Primary,95150.0,2019-05-12,2019,5,12,2
2,19-05-2019,Number of paid jobs - 34 days,B Goods Producing,405050.0,2019-05-19,2019,5,19,2
3,26-05-2019,Number of paid jobs - 34 days,C Services,1570740.0,2019-05-26,2019,5,26,2
4,02-06-2019,Number of paid jobs - 34 days,Z No Match,19170.0,2019-06-02,2019,6,2,2

In [29]:
df['date_dt'].min()

Timestamp('2019-05-05 00:00:00')